/.vscode
/auth1
/auth2
/Company
/crudproject
/crud_
/django1
/django2
/django3
/eigthproject
/elevenproject
/fifthproject
/firstproject
/Foundation
/fourthproject
/messages1
/ninthproject
/resume
/resume.zip
/secondproject
/seventhproject
/sixthproject
/tenthproject
/thirdproject
/twelveproject