{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h4 class='text-white display-4'>ContactPage</h4>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6 text-white">
                        <label for="inputName4">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 text-white">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputName" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-white">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group text-white">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row text-white">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4 text-white">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 text-white">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Sign in</button>
            </form>
    </div>
{% endblock content %}